<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Nama lengkap saya Endang Efendi, akrab di sapa Fend atau Fendi. Lahir pada tanggal 19 Februari tahun 1994. Saya berpengalaman dalam menjalankan operasional kantor baik dari sisi pengerjaan project maupun mempersiapkan tim. .</p>
      </div>
      <div class="col-lg-4">
        <p>Saya juga berpengalaman menjadi junior project manager yang menciptakan aplikasi dengan penekanan arsitektur rapi dan kenyamanan pengguna. Secara pribadi saya juga pernah berperan dalam pembuatan aplikasi berbasis android. </p>
      </div>
    </div>
  </div>
</section>
