<!-- Contact Section -->
<section class="success" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">

        <div class="chip">
          <img src="img_avatar.jpg" alt="Person" width="96" height="96" href="http://wa.me/6289639333325">
          Whatsapp
        </div>
      </div>
      <div class="col-lg-4">
        <div class="chip">
          <img src="img_avatar.jpg" alt="Person" width="96" height="96" href="mailto:efendie292@gmail.com">
          Email
        </div>
      </div>
      <div class="col-lg-4">
        <div class="chip">
          <img src="img_avatar.jpg" alt="Person" width="96" height="96" href="http://github.com/fend252">
          Github
        </div>
      </div>

    </div>
  </div>
</section>
